.keyboard {
  background-color: white;
  padding: 8.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 0 1.7vw dimgray;
          box-shadow: 0 0 1.7vw dimgray;
  border-radius: 8.5px;
}
.keyboard-keys {
  background-color: #DED2A8;
  padding: 20px;
  letter-spacing: 1px;
}
.keyboard-type-result {
  height: 4.76vw;
}
.keyboard-type-result textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 1.1333333333vw;
  font-weight: bold;
  border: none;
  resize: none;
  outline: 0;
  padding: 1.02vw;
}
.keyboard .basic-keyboard .key-row:first-child, .keyboard .control-arrows .key-row:first-child {
  margin-bottom: 10px;
}
.keyboard .num-pad {
  padding-top: 10px;
}
.keyboard .key-group {
  display: inline-block;
  vertical-align: top;
}
.keyboard .key-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5px;
}
.keyboard .skip-key-row {
  margin-top: calc(3.4vw + 5px);
}
.keyboard .skip-key-left {
  margin-left: calc(3.4vw + 3.5px);
}
.keyboard .skip-key-right {
  margin-right: calc(3.4vw + 3.5px);
}
.keyboard .key {
  background-color: #302718;
  border-radius: 5px;
  font-size: 1.1333333333vw;
  margin-bottom: 5px;
  width: 3.4vw;
  height: 3.4vw;
  line-height: 3.4vw;
  text-align: center;
  color: white;
}
.keyboard .keyspan-x {
  width: calc(6.8vw + 3.5px);
}
.keyboard .keyspan-y {
  height: calc(6.8vw + 5px);
  line-height: calc(6.8vw + 5px);
}
.keyboard .key.space-to-right {
  margin-right: 2.72vw;
}
.keyboard .key.rest {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.keyboard .key.rest:last-child {
  padding-right: 1.02vw;
  text-align: right;
}
.keyboard .key.rest:first-child {
  padding-left: 1.02vw;
  text-align: left;
}
.keyboard .key.space {
  -webkit-box-flex: 30;
      -ms-flex-positive: 30;
          flex-grow: 30;
}