$keySize: 3.4vw;
$keyGapX: 3.5px;
$keyGapY: 5px;

$keyboardColor: #DED2A8;
$keyActiveColor: #699E3C;

$keyColor: #302718;
$keyTextColor: white;

$keyTextSize: ($keySize / 3);
$doubleKeyXSize: calc(($keySize * 2) + $keyGapX);
$doubleKeyYSize: calc(($keySize * 2) + $keyGapY);

$alignPad: $keySize * 0.3;

@mixin lh($divideKoefitient){
    line-height: $keySize / $divideKoefitient;
}
@mixin flexCentering{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.keyboard{
    user-select: none;
    background-color: white;
    padding: $keyGapX + $keyGapY;
    width: fit-content;
    box-shadow: 0 0 ($keySize / 2) dimgray;
    border-radius: $keyGapX + $keyGapY;
    
    &-keys{
        background-color: $keyboardColor;
        padding: 20px;
        letter-spacing: 1px;
    }
    &-type-result{
        height: 1.2 * $keySize;
        margin: (0.2 * $keySize) 0px;
        textarea{
            overflow-y: hidden;
            line-height: 0.45 * $keySize;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            font-size: $keyTextSize;
            font-weight: bold;
            border: none;
            resize: none;
            outline: 0;
            padding: $alignPad;
        }
    }
    .basic-keyboard .key-row:first-child,
    .control-arrows .key-row:first-child{
        margin-bottom: $keyGapY * 2;
    }
    .num-pad{
        padding-top: $keyGapY * 2;
    }
    .key-group{
        display: inline-block;
        vertical-align: top;
    }
    .key-row{
        display: flex;
        gap: $keyGapX;
    }
    .skip-key-row{
        margin-top: calc($keySize + $keyGapY);
    }
    .skip-key-left{
        margin-left: calc($keySize + $keyGapX);
    }
    .skip-key-right{
        margin-right: calc($keySize + $keyGapX);
    }
    .key{
        @include flexCentering;
        background-color: $keyColor;
        border-radius: 5px;
        font-size: $keyTextSize;
        margin-bottom: $keyGapY;
        width: $keySize;
        height: $keySize;
        text-align: center;
        color: $keyTextColor;
        &.active{
            background-color: $keyActiveColor;
        }
        &.hold{
            background-color: lighten($keyColor, 10%);
        }
        &.unhold{
            background-color: lighten($keyActiveColor, 15%);
        }
        &.text-short{
            font-size: $keyTextSize / 1.2;
        }
        @for $i from 3 to 4{
            @include lh($i);
        }
        &.lh3{
            line-height: $keySize / 3;
        }
        &.lh4{
            line-height: $keySize / 4;
        }
        &span-x{
            width: $doubleKeyXSize;
        }
        &span-y{
            height: $doubleKeyYSize;
        }
        &.padRight{
            margin-right: 0.8 * $keySize;
        }
        &.rest{
            flex-grow: 1;
        }
        &.rest:last-child{
            padding-right: $alignPad;
            justify-content: end;
        }
        &.rest:first-child{
            padding-left: $alignPad;
            justify-content: start;
        }
        &.alt{
            flex-grow: 2;
        }
        &.ctrl{
            flex-grow: 3;
        }
        &.space{
            flex-grow: 30;
        }
    }
}
.mobile-warn{
    display: none;
}
@media screen and (max-width: 900px){
    header, .keyboard{
        display: none;
    }
    .mobile-warn{
        display: block;
        font-size: 30px;
        padding: 0px 10vw;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        word-wrap: break-word;
    }
}